<template>
  <v-alert
    v-model="alert"
    dismissible
    type="warning"
    transition="scale-transition">
    Сайт в разработке
  </v-alert>

</template>

<script>
  export default {
    name: 'DevolopingAlert',
    data () {
      return {
        alert: true
      }
    }
  }
</script>

<style scoped>
</style>