<template>
    <v-parallax src="image1.jpg">
        <v-layout column align-center justify-center>
          <h4 class="main-text display-4 hidden-sm-and-down">ООО «НефтеГазПРОЕКТ»</h4>
          <h3 class="main-text display-3 hidden-xs-only hidden-md-and-up">ООО «НефтеГазПРОЕКТ»</h3>
          <h1 class="main-text display-1 hidden-sm-and-up">ООО «НефтеГазПРОЕКТ»</h1>
        </v-layout>
    </v-parallax>
</template>

<script>
    export default {
      name: 'Paralax'
    }
</script>

<style scoped>
    .main-text {
      text-shadow: black 0 0 20px;
    }
</style>