<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app>
      <v-btn
        flat
        v-for="(link,to) in links"
        nuxt
        :key="link"
        :to="to"
        class="d-block">
        {{ link }}
      </v-btn>
    </v-navigation-drawer>


    <v-toolbar app>
      <v-toolbar-side-icon @click.native.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
      <object type="image/svg+xml" data="/logo.svg" height="60" class="ml-5">
        NEFTEZAZ PROEKT
      </object>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          v-for="(link,to) in links"
          nuxt
          :key="link"
          :to="to">
          {{ link }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <nuxt>
    </nuxt>
    <v-footer height="auto" class="grey darken-3">
      <v-layout row wrap justify-center>
        <v-btn
                color="white"
                flat
                v-for="(link,to) in links"
                nuxt
                :key="link"
                :to="to">
          {{ link }}
        </v-btn>
        <v-flex xs12 py-3 text-xs-center white--text>
          &copy;2018 — <strong>ООО "НефтеГазПРОЕКТ"</strong>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
  import DevolopingAlert from '../components/DevolopingAlert'
  export default {
    components: {DevolopingAlert},
    data () {
      return {
        links: {
          '/': 'ГЛАВНАЯ',
          'contacts': 'КОНТАКТЫ',
          'feedback': 'ОБРАТНАЯ СВЯЗЬ'
        },
        drawer: false
      }
    }
  }
</script>
