<template>
  <v-content>
    <v-container>
      <v-layout>
        <v-flex xs12 sm6 offset-sm3>
          <v-card v-for="c in contcts">
            <v-card-title primary-title>
              <div>
                <p>{{ c.post }}<br/>{{ c.name }} </p>
                <v-divider class="my-2"></v-divider>
                <p>Юридический адрес: {{ c.addr }} </p>
                <p>Тел. / Факс: {{ c.tel }} </p>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="blue" :href="'https://www.google.ru/maps/search/'+ encodeURIComponent(c.addr)">Показать на карте</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  export default {
    data () {
      return {
        contcts: [
          {post: 'Генеральный директор', name: 'Иваанов Иван Иванович', addr: '625000, РФ, Тюменская область, г.Тюмень,  ул.Широтная, д.100, строение 1, помещение 200', tel: '+7 (3452) 13-23-42'}
        ]
      }
    }
  }
</script>
