<template>
  <v-content>
    <v-container>
      <v-form v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="Ваше имя"
          v-model="name"
          :rules="nameRules"
          :counter="30"
          required></v-text-field>

        <v-text-field
          label="Текст"
          v-model="text"
          :rules="textRules"
          multi-line
          required
        ></v-text-field>

        <v-btn
          @click="submit"
          :disabled="!valid">
          отправить
        </v-btn>
        <v-btn @click="clear">очистить</v-btn>
      </v-form>
    </v-container>
  </v-content>
</template>

<script>
  export default {
    name: 'feedback',
    data () {
      return {
        valid: true,
        name: '',
        text: '',
        nameRules: [
          v => !!v || 'Напишите имя',
          v => (v && v.length <= 10) || 'Имя не может больше 30 символов'
        ],
        textRules: [v => !!v || 'Введите текст']
      }
    },
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          window.open('mailto:feedback@72ngp.ru?subject=Feedback+' + this.name + '&body=' + encodeURIComponent(this.text))
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>

</style>