<template>
  <v-content>
    <Paralax class="hidden-xs-only"></Paralax>
      <v-container>
        <DevolopingAlert></DevolopingAlert>
        <h2 class="display-2 my-3 overflow-hidden">Добро пожаловать</h2>
        <span class="subheading">ООО «НефтеГазПРОЕКТ» - проектная компания, основным направлением деятельности которой является разработка проектной документации на обустройство нефтяных и газовых месторождений (новое строительство, реконструкция, техническое перевооружение, капитальный ремонт, разработка документации на карьеры ОПИ)</span>
        <v-divider class="my-0"></v-divider>
        <v-list class="transparent">
          <template v-for="item in items">
            <v-list-tile-content>
              <p class="mt-3 mb-0">&#8227; {{ item.mainText }}</p>
              <p v-for="subItem in item.subTexts" class="mx-3 my-0 li-text"> &bull; {{ subItem }} </p>
            </v-list-tile-content>
          </template>
        </v-list>
        <p class="mt-5">ООО «НефтеГазПРОЕКТ» гарантирует высокое качество выполнения работ с предоставлением проектной документации в строгом соответствии с требованиями действующего законодательства и нормативно-технической документацией.</p>
      </v-container>
  </v-content>
</template>

<script>
    import Paralax from '../components/Paralax'
    import DevolopingAlert from '../components/DevolopingAlert'
    export default {
      components: {DevolopingAlert, Paralax},
      data () {
        return {
          items: [
            {mainText: 'Подготовка материалов для оформления отводов земельных и лесных участков'},
            {mainText: 'Разработка документации по всем разделам проекта', subTexts: ['технологические решения', 'план организации рельефа', 'архитектурно-строительные решения', 'АСУ ТП и системы пожаротушения', 'решения по электроснабжению', 'решения по канализации, отоплению, водоснабжению, вентиляции', 'автомобильные дороги, проекты организации строительства, рекультивация земель', 'сметная документация', 'разработка технических требований и опросных листов для проведения заказчиком тендерной компании по заказу оборудования и т.д.']},
            {mainText: 'Разработка специальных разделов', subTexts: ['Мероприятия по охране окружающей среды', 'Инженерно-технические мероприятия гражданской обороны', 'Мероприятия по предупреждению чрезвычайных ситуаций', 'Оценка риска аварий', 'Декларация пожарной безопасности', 'Декларация промышленной безопасности опасных производственных объектов.']},
            {mainText: 'Прохождение всех необходимых согласований и экспертиз (государственной, негосударственной, экспертизы промышленной безопасности), в том числе в органах ФАУ «Главное управление государственной экспертизы», в Федеральной службе по надзору в сфере природопользования.'},
            {mainText: 'Разработка рабочей документации для строительства'},
            {mainText: 'Выполнение услуг по ведению авторского надзора за строительством объектов проектирования.'}
          ]
        }
      }
    }
</script>

<style scoped>
  .li-text {
    color: #5a5a5a;
  }
</style>